.centerBlock {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p.resumeButton {
    margin: 0 auto;
    text-align: center;
}

p.quote {
    font-style: italic;
    font-size: 14px;
    color: #b39191;
}

@media(max-width:768px) {
    .aboutMe {
        padding-bottom: 10px;
    }
}
