.portfolioRow {
    composes: row from global;
    margin-right: -10px !important;
    margin-left: -10px !important;
}

.ulFilter {
    margin-bottom: 30px;
    padding-left: 0;
    list-style: none;
}

.ulFilter li {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
    letter-spacing: 0.5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    line-height: 1.3;
    padding: 8px;
    text-transform: uppercase;
}
