
.portfolioItem {
    padding: 10px;
}

.portfolioItem .projectContent {
    position: relative;
}

.portfolioItem .projectImage {
    overflow: hidden;
}

.portfolioItem img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolioItem:hover img {
    transform: scale(1.3);
}

.portfolioItem .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.portfolioItem:hover .info {
    opacity: 1;
}

.portfolioItem:hover .info h3,
.portfolioItem:hover .info p {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.portfolioItem .info h3 {
    color: #fff;
    font-size: 20px;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-top: 5px;
}

.portfolioItem .info .faLink {
    background-color: #ffffff;
    border-radius: 30px;
    color: #000000;
    display: inline-block;
    height: 45px;
    margin: 12px 7px 0 auto;
    padding-top: 15px;
    width: 45px;
}

.portfolioItem .info .faLink:hover {
    color: #47A3DA;
}

.portfolioItem .info p {
    color: #47A3DA;
    font-weight: bold;
    margin-bottom: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: capitalize;
    margin-top: 6px;
    letter-spacing: 0.3px;
}

.displayTable {
    display: table;
    height: 100%;
    width: 100%;
}

.displayTableCell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 10;
}
