.resumeItem {
    border-color: #47A3DA;
    position: relative;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 4px;
    margin-left: 5px;
    border-left-width: 1px;
    border-left-style: solid;
}

.resumeItem:last-of-type {
    padding-bottom: 2px;
}

.resumeItem p {
    font-size: 15px;
}

.resumeItemDate {
    position: relative;
    line-height: 1;
}

.resumeItemDate:after,
.resumeItemDate:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -20px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.resumeItemDate:after {
    background-color: #47A3DA;
}

.resumeItemDate:before {
    background: #FFFFFF;
    width: 15px;
    height: 15px;
    top: 8px;
    left: -23px;
}

.resumeItemDate span {
    font-size: 14px;
    font-weight: 500;
    color: #56595b;
    letter-spacing: 0.5px;
}

.resumeItem h4 {
    color: #222;
    font-size: 17px;
}

.resumeItemList {
    padding-left: 20px;
    list-style-type: square;
    line-height: 25px;
    margin-bottom: 0;
    font-size: 15px;
    color: #56595b;
}
