.root {
    margin-bottom: 10px;
    font-size: 14px;
    color: #0c2b93;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    grid-template-areas: "skillName skillPercentage";
}

.skillPercentage {
    height: 100%;
    background: #e3e3e3;
}

.skillPercentage > span {
  display: block;
  height: 100%;
  background-color: #79828a;
}

.inactiveSkill .skillPercentage > span {
    background-color: #d8d8d8;
}
