body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    color: #666;
    background-color: #ecf0f1;
    line-height: 2;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 16px;
    color: #111;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.margin-top-45 {
    margin-top: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.padding-bottom-90 > .content {
    padding-bottom: 60px;
}

section {
    background-color: #ecf0f1;
    height: 0;
    max-width: 850px;
}

section > .content {
    margin: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 1000px;
}

.section-title {
    position: relative;
    z-index: 55;
    margin-bottom: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    padding-top: 32px;
    padding-bottom: 25px;
    line-height: 1;
}

.section-title h2 {
    display: inline-block;
    font-size: 43px;
    font-weight: 700;
    color: #222;
    text-transform: capitalize;
    position: relative;
    z-index: 5;
}

a.big-button {
    padding: 8px 20px;
    color: #252525;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-width: 2px;
    border-style: solid;
    border-color: #47A3DA;
}

a.big-button:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #47A3DA;
}

.image-gallery {
    border: 1px solid #ecd6d6;
}

@media(max-width:768px) {
    section > .content {
        margin: 20px;
    }

    .section-title h2 {
        font-size: 37px;
    }
}

@media(max-width:400px) {
    section > .content {
        margin: 10px;
    }

    .section-title h2 {
        font-size: 31px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    section {
        max-width: 100%;
    }

    section > .content {
        max-width: 810px;
        margin: 40px auto;
    }
}

@media(min-width:768px) and (max-width:890px) {
    section > .content {
        max-width: 100%;
        margin: 40px;
    }
}

@media(min-width:992px) {
    html, body {
        width: 100%;
        height: 100%;
    }

    body {
        overflow-y: scroll;
        background: #333;
    }

    .container {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 58em) {
    body { font-size: 90%; }
}
