.miniMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.38);
    padding: 17px 0;
}

.displayNone {
    display: none;
}

.miniMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 58;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(95, 95, 95, 0.28);
    padding: 15px 0;
}

.miniMenuContent {
    overflow: hidden;
}

.menuTitle {
    color: #47A3DA;
    float: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.4;
}

.navbarToggle {
    padding: 0;
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbarToggle .iconBar {
    background-color: #000;
    height: 2px;
    width: 22px;
    transition: all 0.2s;
    display: block;
    border-radius: 1px;
}

.navbarToggle .iconBar + .iconBar {
    margin-top: 4px;
}

.navbarToggle .iconBar:nth-of-type(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbarToggle .iconBar:nth-of-type(3) {
    opacity: 0;
}

.navbarToggle .iconBar:nth-of-type(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.collapsed .iconBar {
    transform: none !important;
    opacity: 1 !important;
}

@media(max-width:991px) {
    .miniMenuOverlay {
        width: 100%;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .miniMenu {
        display: none;
    }
}

@media(min-width:1200px) {
    .miniMenu {
        display: none;
    }
}

@media(max-width:768px){
    .miniMenuContent {
        max-width: 100%;
        margin: 0 20px;
    }
}

@media(max-width:400px) {
    .miniMenuContent {
        max-width: 100%;
        margin: 0 10px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .miniMenuContent {
        max-width: 825px;
        margin: auto;
    }

    .navbarToggle {
        display: block;
    }
}

@media(min-width:768px) and (max-width:890px) {
    .miniMenuContent {
        max-width: 100%;
        margin: 0 40px;
    }
}
