.sideRight {
    right: 0;
    background: #fff;
    color: #47a3da;
    outline: 1px solid #fff; /* avoid gap */
}

.sideContent h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.sideContent h1 > span {
    display: block;
    white-space: nowrap;
    color: #151515;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.profileImg {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.profileImg img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34),-1px 1px 1px rgba(0, 0, 0, 0.34);
}

nav {
    -webkit-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
}

.socialIcons a:hover,
.menuList a:hover {
    color: #47A3DA;
}

.socialIcons {
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.socialIcons a {
    display: inline-block;
    margin-left: 15px;
    font-size: 13px;
    color: #252525;
}

.socialIcons a:first-of-type {
    margin-left: 0;
}

.menuList {
    padding-left: 0;
    list-style: none;
}

.menuList a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0;
}

.rightZero {
    right: 0 !important;
}

@media(min-width:992px) {
    aside {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 50%;
        height: 100%;
        text-align: center;
        -webkit-backface-visibility: hidden;
        cursor: default;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
    }

    .sideRight {
        z-index: 200;
        -webkit-transform: translateX(-150%);
        transform: translateX(-150%);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        height: 100% !important;
    }

    .sideContent {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 1em;
        width: 50%;
        -webkit-transform: translateY(-50%) translateX(0%) scale(1);
        transform: translateY(-50%) translateX(0%) scale(1);
        -webkit-transition: -webkit-transform 0.6s, top 0.6s;
        transition: transform 0.6s, top 0.6s;
    }

    .sideContent h1 {
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
}

@media(max-width:991px) {
    .sideRight {
        overflow: auto;
        position: fixed;
        top: 62px;
        right: -305px;
        z-index: 55;
        text-align: center;
        padding-top: 50px;
        width: 300px;
        height: calc(100vh - 62px);
        transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
    }

    .menuList {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 83em) {
    .sideContent { font-size: 60%; }
}
