.fullHeight {
    background-size: cover;
    background-position: center;
}

.pageRight {
    color: #666;
    overflow-x: hidden !important;
}

.pagePerspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.pageInner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*visibility: hidden;*/
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: auto;
    visibility: visible;
    z-index: 1;
}

@media(min-width:992px) {
    .splitlayout {
        min-height: 100%;
        width: 100%;
    }

    .page {
        position: relative;
        top: 0;
        overflow: auto;
        min-height: 100%;
        width: 75%;
        height: auto;
        -webkit-backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
    }

    .pageRight {
        left: 25%;
        outline: 5px solid #ecf0f1;
        background: #ecf0f1;
        color: #97a8b2;
        position: absolute;
        overflow: auto;
        height: auto;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@media(max-width:991px) {
    .pageRight {
        margin-top: 62px;
        height: calc(100vh - 62px) !important;
    }
}
